* {
    margin: 0
}

body{
    overflow-x: hidden;
}

body,
html {
    height: 100%;
}

.page-container {
    padding: 20px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: 25px;
}

.clive_center_img {
    margin-top: 20px;
}



.page-wrap:after {
    content: "";
    display: block;
}

hr
{
    border: 1px solid #666;
    position: absolute;
    width: 100%;
}

.site-footer {
    background-color: #212b31;
    color: #aeb7bc
}

blockquote {
    border: 0;
    padding: 0;
    margin: 0
}

.v-center {
    display: flex;
    align-items: center
}


.cmd-claim-section-large {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #08638c;
    color: #fff;
    padding: 0;
    margin-bottom: 40px;
    min-height: 190px;
    border: 0 solid red
}

.cmd-claim-section-image1,
.cmd-claim-section-image2,
.cmd-claim-section-image3 {
    padding: 10px
}

.cmd-claim-section-text {
    border: 0 solid red;
    text-align: center;
    padding: 10px 0 20px
}

.cmd-claim-stage {
    border: 0 solid red
}

.cmd-claim-stage-image {
    float: none;
    margin: 0 auto;
    padding: 5px;
    border: 0 solid red
}

.cmd-service-feature-outside {
    padding: 0 0 30px
}

.cmd-service-feature {
    color: #000;
    background: #1D2F56;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #1D2F56 solid 1px;
    padding-right: 35px;
    padding-left: 5px;
    padding-top: 5px;
    min-height: 240px
}

.cmd-service-feature-title {
    font-weight: 700;
    font-size: 18pt;
    color: #fff
}

.cmd-service-feature-text {
    color: #fff
}

.cmd-service-feature-image-holiday {
    background-image: url(https://test.fairplane.co.uk/app/images/website/box_holiday.png);
    background-position: right top;
    background-repeat: no-repeat;
    height: 138px
}

.cmd-service-feature-image-contact,
.cmd-service-feature-image-eu,
.cmd-service-feature-image-nowin {
    background-image: url(https://test.fairplane.co.uk/app/images/website/box_eu.png);
    background-position: right top;
    background-repeat: no-repeat;
    height: 138px
}

.cmd-service-feature-image-contact,
.cmd-service-feature-image-nowin {
    background-image: url(https://test.fairplane.co.uk/app/images/website/box_contact.png)
}

.cmd-service-feature-image-nowin {
    padding: 0;
    background-image: url(https://test.fairplane.co.uk/app/images/website/box_nowin.png);
    background-size: auto 100%
}

.cmd-service-feature-image-law,
.cmd-service-feature-image-trusted {
    background-image: url(https://test.fairplane.co.uk/app/images/website/box_law.png);
    background-position: right top;
    background-repeat: no-repeat;
    height: 138px
}

.cmd-service-feature-image-trusted {
    background-image: url(https://test.fairplane.co.uk/app/images/website/box_trusted.png)
}

.cmd-quote:before,
.cmd-service-feature-arrow {
    position: absolute;
    bottom: 0;
    right: -20px
}

.cmd-how-much-compensation-inner {
    padding-bottom: 10px
}

.cmd-how-much-compensation {
    background-color: #def5f9;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin: 15px
}

.cmd-how-much-will-it-cost,
.cmd-testimonial {
    padding-bottom: 30px
}

.cmd-quote {
    position: relative;
    padding: 15px;
    background: #f2f3f3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #33c3de solid 1px
}

.cmd-quote:before {
    content: url(https://test.fairplane.co.uk/app/images/website/speech_corner.png);
    bottom: -41px;
    right: 10%;
    display: block;
    width: 50px;
    height: 41px
}

.cmd-quote-text {
    font-style: italic;
    padding-bottom: 20px;
    display: block
}

.cmd-quote-person-man,
.cmd-quote-person-woman {
    font-style: normal;
    font-weight: 700
}

.cmd-quote-person-man:after,
.cmd-quote-person-woman:after {
    content: url(https://test.fairplane.co.uk/app/images/website/man.png);
    position: absolute;
    bottom: 10px;
    right: 20px
}

.cmd-quote-person-woman:after {
    content: url(https://test.fairplane.co.uk/app/images/website/woman.png)
}

.cmd-blog-faq {
    padding: 0;
    margin: 15px
}

.cmd-blog-faq-item h4,
.cmd-testimonials-item h4 {
    font-weight: 700;
    padding-bottom: 10px
}

.cmd-blog-faq-item {
    border: #33c3de solid 0;
    background-color: #def5f9;
    padding: 30px 50px;
    margin-bottom: 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px
}

.cmd-blog-faq-item:before {
    content: url(https://test.fairplane.co.uk/app/images/website/question_left.png);
    position: absolute;
    top: 0;
    left: 0
}

.cmd-blog-faq-item:after {
    content: url(https://test.fairplane.co.uk/app/images/website/question_right.png);
    position: absolute;
    top: 0;
    right: 0
}

.cmd-testimonials {
    padding: 0;
    margin: 15px
}

.cmd-testimonials-item {
    border: #33c3de solid 0;
    background-color: #def5f9;
    padding: 30px 50px;
    margin-bottom: 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px
}

.cmd-blog-news-item {
    border: 0 solid red;
    padding: 10px;
    background-color: #fff
}

.cmd-blog-news-item-inner {
    border: 0 solid green;
    padding: 20px;
    background-color: #def5f9;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px
}

.cmd-blog-image {
    border: 0 solid red
}

.cmd-blog-story-snippet {
    border: 0 solid #00f;
    padding: 0
}

.cmd-blog-link>a,
.cmd-blog-title {
    font-weight: 700;
    font-size: 14pt
}

.cmd-blog-story-read-more {
    text-align: left;
    padding-top: 20px
}

.cmd-blog-line,
.cmd-news-line {
    width: 100%;
    height: 1px;
    background-color: #1D2F56
}

.cmd-blog-link>a {
    text-decoration: none;
    color: #07638c
}

.cmd-news-line {
    background-color: #07638c;
    padding: 0;
    margin: 0
}

.cmd-blog-recent-posts {
    font-size: 16pt;
    font-weight: 700;
    text-decoration: none;
    padding-bottom: 10px
}

.cmd-blog-recent-posts-container {
    padding-right: 20px;
    border: 0 solid red
}

.cmd-blog-recent-post>a {
    font-weight: 400;
    text-decoration: none
}

h4.cmd {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #07638c;
    font-size: 16pt;
    line-height: 10px;
    margin: 10px 0 20px
}

.cmd-blog-news-page-header,
.cmd-blog-news-page-header>h1 {
    padding-bottom: 10px;
    margin: 0
}

.cmd-blog-news-page-header {
    font-weight: 700
}

.cmd-any-questions {
    background-color: #08638c;
    min-height: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13pt;
    color: #fff
}

.cmd-question-mark {
    background-repeat: no-repeat;
    width: 23px;
    height: 23px
}

.cmd-middle-text-area {
    padding: 30px;
    margin: 0
}

.cmd-middle-text-area-button,
.cmd-middle-text-area-button:hover {
    color: #fff!important;
    width: 100%;
    text-decoration: none
}

.cmd-middle-text-area-button {
    font-size: 10pt;
    padding: 10px 25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #33c3de;
    display: block;
    border: 1px solid #33c3de
}

.cmd-middle-text-area-button:hover {
    border: 1px solid #08638c;
    background: #08638c
}

.cmd-middle-text-area {
    border: 0 solid #00f;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0
}

.cmd-middle-text-area-item {
    border: 0 solid red;
    padding-left: 20px
}

.cmd-middle-text-area-image {
    border: 8px solid #fff;
    margin-top: 40px
}

.cmd-middle-text-area {
    border: 0 solid red;
    padding-left: 0;
    padding-top: 25px;
    padding-bottom: 30px
}

.cmd-middle-text-area-snippet {
    border: 0 solid red;
    padding: 0
}

.cmd-middle-text-area-title {
    font-weight: 700;
    font-size: 18pt
}


.cmd-info-header-text,
h3.cmd {
    font-size: 16pt
}

h4 {
    font-size: 20pt
}

h3.cmd {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #08638c;
    line-height: .1em;
    margin: 10px 0 20px
}

h3.cmd span {
    padding: 5px 15px
}

.cmd-website-homepage-strapline-blue {
    font-size: 18pt;
    color: #08638c;
    text-decoration: none
}

.cmd-website-homepage-strapline-white {
    font-size: 36pt;
    color: #fff;
    font-weight: 700;
    text-decoration: none
}

h1.cmd-website-homepage-strapline-white {
    margin-bottom: 0
}

h2.cmd-website-homepage-strapline-blue {
    margin-top: 0
}

.cmd-hp-calculator-airports-clicked,
.cmd-hp-calculator-airports-clicked:active,
.cmd-hp-calculator-airports-clicked:hover,
.cmd-hp-calculator-airports-clicked:link,
.cmd-hp-calculator-airports-clicked:visited,
.cmd-hp-calculator-flight-number-clicked,
.cmd-hp-calculator-flight-number-clicked:active,
.cmd-hp-calculator-flight-number-clicked:hover,
.cmd-hp-calculator-flight-number-clicked:link,
.cmd-hp-calculator-flight-number-clicked:visited {
    color: #fff;
    text-decoration: none
}

.fa-2x {
    vertical-align: middle
}

:focus {
    outline: none
}

::-moz-focus-inner {
    border: 0
}

.cmd-content {
    padding: 0 0 50px 50px
}

.cmd-website-container {
    width: 100%;
    max-width: 1280px;
    height: auto;
    padding: 0;
    border: 0 solid red;
}

.cmd-website-header {
    max-height: 1280px
}

.cmd_affiliate_login_form{
    margin: 0 auto;
    width: 45% /* value of your choice which suits your alignment */
}

.cmd-website-navbar-strip {
    background-color: #08638c;
    margin: 0;
    padding: 0;
    height: 50px
}

.cmd-website-backdrop {
    max-height: 1280px;
    min-height: 300px;
    background-image: url(https://test.fairplane.co.uk/app/images/website/cmd_background.png)
}

.cmd_header_right_text {
    text-align: right;
    color: #08638c;
    font-size: 11pt
}

.cmd_header_right_text a {
    text-decoration: none
}

.cmd-btm-right {
    position: absolute;
    right: 0;
    bottom: 0
}

.cmd-website-hotline {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif;
    margin: 0;
    padding: 15px;
    border: 0 solid red
}

.cmd-website-hotline-line {
    border-top: 1px solid #08638c;
    margin: 0;
    padding: 0
}

.cmd_website_background_footer_house,
.cmd_website_background_houses {
    background-color: #1F2F56;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 2500px;
    background-image: url('/app/images/house-banner-blue.png')
}

.cmd_website_background_footer_house {
    background-position: center center;
    padding: 20px 0px 50px 0px;
    background-color: #1D2F56;
    background-image: url('//example.png')
}

#cmd-claim-calc-form .control-label,
.navbar-checkmydeposit {
    font-size: 14px
}

.cmd-link-button {
    text-decoration: none;
    border-radius: 10px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.cmd-link-button:hover {
    text-decoration: none;
    background-color: #222F54 !important;
    color: #fff!important;
    border-radius: 10px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.navbar-checkmydeposit .navbar-nav>li>.dropdown-menu>li>a:link {
    font-size: 13px
}

.dropdown-toggle:active,
.open .dropdown-toggle {
    background: #fff!important;
    color: #08638c!important
}

.navbar-checkmydeposit .navbar-nav>li>a {
    background-color: #fff;
    color: #08638c
}

.cmd-website-navbar-menu .navbar-nav>li>a:hover {
    background-color: #eee;
    background-image: none;
    color: #000
}

.navbar-checkmydeposit .navbar-nav .closed a,
.navbar-nav>li>a:hover {
    background-color: #fff;
    background-image: none
}

.navbar-checkmydeposit .navbar-nav>li>a:focus {
    color: #212b31;
    background-color: #fff;
    outline: none
}

.navbar-checkmydeposit .navbar-nav>li>a:hover {
    color: #212b31;
    outline: none
}

.navbar-checkmydeposit .navbar-toggle {
    border-color: #212b31
}

.navbar-checkmydeposit .navbar-toggle:focus,
.navbar-checkmydeposit .navbar-toggle:hover {
    background-color: #fff
}

.navbar-checkmydeposit .navbar-toggle .icon-bar {
    background-color: #212b31
}

.navbar-checkmydeposit .navbar-checkmydeposit .navbar-link:hover,
.navbar-checkmydeposit .navbar-link {
    color: #f0f
}

.navbar-checkmydeposit .navbar-nav>li>.dropdown-menu,
.navbar-checkmydeposit .navbar-nav>li>.dropdown-menu>li>a {
    color: #fff;
    font-size: 10pt
}

.navbar-checkmydeposit .navbar-nav>li>.dropdown-menu>li>a:hover {
    background-image: none!important;
    background-color: #07638c
}

.cmd-website-navbar-menu .navbar-nav>li>.dropdown-menu>li>a:hover {
    background-image: none!important;
    background-color: #eee;
    color: #212b31
}

.cmd-website-navbar-menu .navbar-nav>li>.dropdown-menu>li>a {
    background-image: none!important;
    background-color: #fff;
    color: #07638c
}

.cmd-website-navbar-menu .navbar-brand {
    position: relative;
    z-index: 1
}

.navbar-checkmydeposit .dropdown-menu>li>a:hover {
    background-image: none!important;
    color: #212b31
}

.dropdown-menu>li>a:focus,
.navbar-checkmydeposit .dropdown-menu>li>a:hover {
    color: #f0f
}

.navbar-checkmydeposit .dropdown-menu>li>a:link {
    background-image: none!important;
    padding-top: 8px;
    padding-bottom: 8px
}

.navbar-checkmydeposit .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212b31;
    color: #fff;
    border: 1px solid #fff
}

.cmd-website-hotline-mobile {
    font-size: 8pt
}

.cmd-website-hotline-desktop {
    font-size: 13pt
}

.cmd-login-adjustment {
    padding-right: 30px;
    margin-bottom: 18px;
    z-index: 99
}

.cmd-login-button-adjustment {
    position: relative;
    top: -4px
}

.cmd_website-top-right-login {
    padding: 10px;
    text-align: right
}

.cmd-website-homepage-strapline {
    border: 0 solid red;
    padding: 20px 40px 10px;
}

.cmd-website-homepage-strapline-george {
    background-repeat: no-repeat;
    background-size: auto;
    width: 230px;
    height: 119px;
    float: right;
    margin-right: 10px
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(https://test.fairplane.co.uk/app/images/website/page-loader.gif) 50% 50% no-repeat #f9f9f9
}

body {
    color: #043951
}

.datepicker {
    padding-left: 10px;
    padding-right: 10px
}

#cmd-claim-calc-form .has-error .control-label,
#cmd-claim-calc-form .has-error .form-control-feedback,
#cmd-claim-calc-form .has-error .help-block {
    color: #fff;
    background-color: #9c2b2e;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 12px
}

#cmd-claim-calc-form .has-error .input-group-addon {
    background-color: #fff;
    color: #555;
    border-color: green
}

#cmd-claim-calc-form .has-success .control-label,
#cmd-claim-calc-form .has-success .form-control-feedback,
#cmd-claim-calc-form .has-success .help-block {
    color: #fff
}

.form-control-no-border:focus {
    border-color: #ccc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.form-control-gray:focus {
    border-color: #999;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(100, 100, 100, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(100, 100, 100, .6)
}

.input-group-addon {
    background-color: #fff
}

.merged input:first-child {
    border-right: 0
}

.merged .input-group-addon+input {
    border-left: 0
}

.cmd-website-background-top {
    background-color: #33c3de;
    width: 100%
}

.cmd-website-background-top-container {
    padding: 20px
}

.cmd_website_background_picture,
.cmd_website_background_picture_claim,
.cmd_website_background_picture_standard {
    background-color: #1D2F56;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url(https://test.fairplane.co.uk/app/images/website/cmd_top_banner.png)
}

.cmd_website_background_picture_claim,
.cmd_website_background_picture_standard {
    background-image: url(https://test.fairplane.co.uk/app/images/website/banner-for-standard-page.gif)
}

.cmd_website_background_picture_claim {
    height: 490px;
    padding: 0;
    margin: 0;
    background-image: url(https://test.fairplane.co.uk/app/images/website/banner-for-claim-page.gif)
}

.cmd_opaque {
    background: rgba(8, 99, 140, .7)
}

.completeArea {
    color: #e18b2c;
    font-size: 12pt;
    font-weight: 400;
    padding-bottom: 20px
}

.smallArea {
    font-size: 8pt;
    font-weight: 400
}

.claim-calculator-small {
    color: #1D2F56;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px
}

.orangeArea {
    min-height: 210px;
    border: 5px solid #1D2F56;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 12pt;
    font-weight: 700
}

.claim-row {
    margin: 0;
    padding-left: 0;
    padding-bottom: 5px
}

.mid-size,
.mid-top-size {
    font-size: 35px;
    font-weight: 700
}

.mid-size {
    font-size: 50px;
    padding: 0;
    margin: 0
}

.mid-left {
    font-size: 24px;
    font-weight: 700
}

.summary-size {
    font-size: 28pt;
    font-weight: 400
}

.cmd-claim-contact-lg {
    color: #fff;
    font-size: 22pt;
    font-weight: 700
}

.cmd-claim-contact-md,
.cmd-claim-contact-sm {
    color: #fff;
    font-size: 14pt;
    font-weight: 700
}

.cmd-claim-contact-sm {
    font-size: 15pt
}

.cmd-claim-contact-phone-sm,
.cmd-mobile-lg,
.cmd-mobile-sm {
    color: #80d7ff;
    font-size: 21pt;
    font-weight: 700
}

.cmd-mobile-lg,
.cmd-mobile-sm {
    font-size: 24pt
}

.cmd-mobile-sm {
    color: #fff;
    font-size: 15pt
}

.line {
    width: 100%;
    height: 1px;
    background-color: #1D2F56;
    margin-top: 14px;
    border: none;
    padding: 0;
    margin-left: 0;
    margin-right: 0
}

.cmd-other-blue,
.cmd-other-blue a:hover,
.cmd-other-blue a:link {
    color: #80d7ff;
    text-decoration: none
}

.claim-calculator-col {
    padding: 0
}

.claim-calculator-border-top {
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px
}

.claim-calculator-claim-tops {
    font-size: 15pt;
    line-height: 18pt;
    color: #06608a;
    font-weight: 700;
    text-align: justify;
    text-justify: auto;
    padding-right: 20px;
    padding-left: 0;
    padding-bottom: 20px;
    border: 0 solid red
}

.claim-calculator-contact-image {
    border: 0 solid red;
    position: absolute;
    right: 10px;
    bottom: 0;
    max-height: 100%;
    max-width: 100%;
    height: 250px
}

.cmd-claim-contact-image-send {
    width: 100%;
    padding: 25px 20px 10px
}

.cmd-claim-contact-image-phone {
    width: 100%;
    padding: 15px 20px 10px
}

.cmd-claim-contact-image-mobile {
    width: 100%;
    padding: 15px 20px 20px 0
}

button,
input {
    outline-style: none;
    outline-color: transparent
}

input:focus {
    outline: none;
    outline-color: transparent
}

.cmd-top-tel,
.cmd-top-tel a:link,
cmd-top-tel a:hover {
    color: #fff;
    background: #1D2F56;
    text-decoration: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif
}

.fa {
    display: inline
}

.cmd-top-email {
    color: #fff;
    background: #08638c;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif
}

.cmd-top-email a:focus,
.cmd-top-email a:hover,
.cmd-top-email a:visited {
    text-decoration: none;
    color: #fff
}

a:active,
a:focus,
button::-moz-focus-inner,
button[type=reset]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=file]>input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
select::-moz-focus-inner {
    border: 0;
    outline: 0
}

.button,
.button:hover,
a.rollover {
    background-image: url(https://test.fairplane.co.uk/app/images/website/fred_claim_button.png)
}

a.rollover {
    display: block;
    width: auto;
    height: 400px
}

a.rollover:active {
    background-image: url(https://test.fairplane.co.uk/app/images/website/home-page-fred-and-button-pressed.png)
}

.button,
.button:hover {
    background-repeat: no-repeat;
    background-size: auto 100%;
    border: 0
}

.button {
    width: 100%;
    height: 449px
}

.button:hover {
    height: 489px
}

.button:active {
    background-image: url(https://test.fairplane.co.uk/app/images/website/home-page-fred-and-button-pressed.png);
    width: 100%
}

#cookiesWarning {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 9;
    width: 100%;
    height: 30px;
    margin: 0;
    text-align: center;
    padding-top: 5px;
    background-color: #1D2F56;
    color: #fff;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 16px
}

.cmd-meet-team-image-container {
    padding-bottom: 0
}

.cmd-meet-team-image {
    border: 8px solid #fff
}

.cmd-meet-team-container {
    margin: 10px;
    padding: 20px 0;
    background-color: #def5f9
}

.cmd-meet-team-title {
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 10px
}

.cmd-meet-team-container-top {
    padding: 0
}

.cmd-testimonial-lg {
    background-image: url(https://test.fairplane.co.uk/app/images/website/trusted_shops_testimonials.png);
    height: 264px;
    width: 67px
}

.cmd-how-it-works {
    background-color: #08638c;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 5px;
    margin: 15px 0 25px;
    color: #fff
}

.cmd-how-it-works-title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px
}

.cmd-mobile {
    padding: 0
}

.cmd-mobile-navbar-toggle {
    margin-top: 15px
}

@media (max-width:1100px) {
    .cmd-top-tel,
    .cmd-top-tel a:link,
    cmd-top-tel a:hover {
        color: #fff;
        background: #1D2F56;
        text-decoration: none;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        padding: 5px 10px;
        font-weight: 700;
        font-size: 16px;
        font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif
    }
    .fa {
        display: inline
    }
    .cmd-top-email {
        color: #fff;
        background: #08638c;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        padding: 5px 10px;
        font-weight: 700;
        font-size: 16px;
        font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif
    }
    .cmd-claim-contact-image-send {
        width: 100%;
        padding: 35px 10px 10px
    }
    .cmd-claim-contact-image-mobile,
    .cmd-claim-contact-image-phone {
        width: 100%;
        padding: 15px 10px 10px
    }
    .cmd-claim-contact-lg {
        color: #fff;
        font-size: 18pt;
        font-weight: 700
    }
    .cmd-claim-contact-md,
    .cmd-claim-contact-sm {
        color: #fff;
        font-size: 12pt;
        font-weight: 700
    }
    .cmd-claim-contact-sm {
        font-size: 14px
    }
    .cmd-claim-contact-phone-sm,
    .cmd-mobile-lg {
        color: #80d7ff;
        font-size: 24px;
        font-weight: 700
    }
    .cmd-mobile-lg {
        font-size: 20px
    }
    .cmd-mobile-sm {
        color: #fff;
        font-weight: 700
    }
    #cmd-claim-calc-form .control-label,
    .cmd-mobile-sm {
        font-size: 12px
    }
}

@media (max-width:924px) {
    .cmd-top-tel,
    .cmd-top-tel a:link,
    cmd-top-tel a:hover {
        color: #fff;
        background: #1D2F56;
        text-decoration: none;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        padding: 5px 10px;
        font-weight: 700;
        font-size: 12px;
        font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif
    }
    .fa {
        display: inline
    }
    .cmd-top-email {
        color: #fff;
        background: #08638c;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        padding: 5px 10px;
        font-weight: 700;
        font-size: 12px;
        font-family: 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif
    }
    .claim-calculator-claim-tops {
        font-size: 12pt;
        color: #06608a;
        font-weight: 700;
        text-align: justify;
        text-justify: inter-word;
        padding-right: 0
    }
    .cmd-service-feature {
        color: #000;
        background: #1D2F56;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: #1D2F56 solid 1px;
        padding-right: 25px;
        min-height: 245px
    }
    .cmd-service-feature-title {
        font-size: 14pt
    }
    .cmd-desktop {
        display: none
    }
    .cmd-website-navbar-separate .navbar-right {
        float: right;
        padding-right: 15px
    }
    .cmd-website-navbar-separate .nav.navbar-nav.navbar-right li {
        float: right
    }
    .cmd-website-navbar-separate .nav.navbar-nav.navbar-right li>a {
        padding: 8px 5px
    }
    .cmd-website-navbar-separate .navbar-toggle {
        float: left
    }
    .cmd-website-navbar-separate .navbar-header {
        float: left;
        width: auto!important;
        padding-left: 25px
    }
    .cmd-website-navbar-separate .navbar-collapse {
        clear: both;
        float: none
    }
    .navbar-header,
    .navbar-nav>li {
        float: none;
        margin-top: 10px;
    }

    .navbar-left,
    .navbar-right {
        float: none!important
    }
    .navbar-toggle {
        display: block
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1)
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px
    }
    .navbar-collapse.collapse {
        display: none!important
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px
    }
    .collapse.in {
        display: block!important
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .cmd_website_navbar {
        margin-left: 0;
        margin-right: 0
    }
    .cmd_website_background_footer_sky,
    .cmd_website_background_house {
        background: 0 0;
        background-color: #1D2F56
    }
    .cmd_website_background_footer_sky {
        height: 800px
    }
    .cmd-website-homepage-strapline-blue {
        font-size: 16pt;
        color: #08638c
    }
    .cmd-website-homepage-strapline-white {
        font-size: 24pt;
        line-height: 26pt;
        color: #fff;
        font-weight: 400
    }
    .mid-size,
    .mid-top-size {
        font-size: 22px;
        font-weight: 700
    }
    .mid-size {
        font-size: 50px;
        padding: 0;
        margin: 0
    }
    .cmd-banner-text {
        font-size: 2rem;
        font-weight: 600;
        color: #ffffff;
        background-color: #222F54;
        text-align: center;
        border-radius: 5px;
        margin-bottom: 25px;
        margin-bottom: 26px;
    }
}

@media (min-width:925px) {
    ul.nav li.dropdown:hover>ul.dropdown-menu {
        display: block
    }
    .cmd-mobile {
        display: none
    }
}

.modal-top {
    top: 60px
}

.modal-vertical-centered {
    transform: translate(0, 50%)!important;
    -ms-transform: translate(0, 50%)!important;
    -webkit-transform: translate(0, 50%)!important
}

.modal-dialog {
    max-width: 300px;
    margin: 0 auto
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.cmd-login-panel {
    color: #fff;
    padding-top: 20px
}

.jconfirm.jconfirm-material {
    top: -160px
}

.jconfirm.jconfirm-material .jconfirm-bg {
    background: #000
}

.cmd-contact-large {
    font-weight: 700;
    font-size: 12pt;
    padding-bottom: 20px
}

.cmd-contact-border {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 30px;
    background-color: #def5f9;
    color: #000
}

.cmd-contact-side {
    margin: 0;
    padding-right: 0;
    padding-left: 30px
}

.cmd-contact-company-details {
    -webkit-box-shadow: 3px 2px 5px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 3px 2px 5px 2px rgba(0, 0, 0, .2);
    box-shadow: 3px 2px 5px 2px rgba(0, 0, 0, .2);
    padding: 20px
}

.cmd-contact-company-details-large {
    font-weight: 700;
    font-size: 14pt
}

.cmd-contact-company-details-normal {
    font-weight: 400
}

.cmd-contact-company-details a:link {
    text-decoration: none;
    color: #000
}

.cmd-news-facebook,
.cmd-news-twitter {
    background-image: url(https://test.fairplane.co.uk/app/images/website/share_facebook.png);
    height: 30px;
    width: 67px
}

.cmd-news-twitter {
    background-image: url(https://test.fairplane.co.uk/app/images/website/share_twitter.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto 100%
}

.cmd-news-share {
    position: relative;
    font-size: 16pt;
    line-height: 30pt;
    font-weight: 700;
    color: #07648c
}

.cmd-news-fred {
    position: absolute;
    bottom: 0;
    right: 0
}

.responsive-width {
    font-size: 1.5vw
}

.cmd-cta-padding,
.cmd-cta-wide {
    padding-bottom: 0
}

.cmd-cta-wide {
    -webkit-border-radius: 15px;
    padding-top: 10px;
    padding-left: 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #08638c;
    color: #fff;
    margin: 5px
}

.cmd-cta-wide-top {
    font-size: 13pt
}

.cmd-cta-wide-mid {
    font-size: 12pt;
    color: #1D2F56;
    padding-bottom: 10px
}

.cmd-cta-wide-bot {
    font-size: 9pt;
    padding-bottom: 10px
}

.cmd-cta-claim-button {
    background-image: url(https://test.fairplane.co.uk/app/images/website/claim_button.png);
    height: 80px;
    width: 319px;
    border: 0
}

.cmd-banner-text-box{
    background-color: #222F54;
    height: 50px;
    margin: 10px auto 60px auto;
    border-radius: 5px;
    max-width: 500px;
    top: 10px;
    position: relative;
}

.cmd-banner-text{
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    position: relative;
    top: 10px;
}

.cmd-logo {
    padding-left: 15px;
    max-height: 150px;
    width: 300px;
    margin-bottom: 20px;
}

.cmd-website-header-line {
    border-top: 12px solid #202F55;
    padding: 0;
    margin: 0
}


.cmd-website-footer-line {
    border-top: 20px solid #6fa1cd;
    padding: 0px;
    margin: 0px;
}

.cmd-website-footer-badges {
    background-color: #fff;
    color: #aeb7bc
}

.cmd-website-footer-hotline,
.cmd-website-footer-hotline a:link {
    color: #043040
}

.cmd-website-footer-hotline,
.cmd-website-footer-hotline a:hover,
.cmd-website-footer-hotline a:link {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none
}

.cmd-website-footer-hotline a:visited,
.cmd-website-footer-nolines,
.cmd-website-footer-nolines a:link,
.cmd-website-footer-nolines a:visited {
    color: #043040;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none
}

.cmd-website-footer-nolines,
.cmd-website-footer-nolines a:link,
.cmd-website-footer-nolines a:visited {
    color: #aeb7bc;
    line-height: 24px;
    padding-left: 5px
}

.cmd-website-footer-hotline a:hover,
.cmd-website-footer-nolines a:hover {
    color: #fff
}

.cmd-website-footer-hotline img {
    margin: 10px;
    padding: 0
}

.cmd-website-footer-link a:hover,
.cmd-website-footer-link a:link,
.cmd-website-footer-link a:visited {
    color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    display: inline;
    padding: 2px 5px
}

.cmd-website-footer-columns {
    color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 80px;
    font-weight: 700;
    padding: 20px 0
}

.cmd-website-footer-column-header {
    color: #fff;
    display: inline;
    padding: 2px 5px 2px 5px;
}

.cmd-green-tick {
    position: relative;
    top: -6px;
    padding-bottom: 0;
    padding-left: 10px;
    height: 25px
}

.cmd-meet-team-container {
    min-height: 230px
}