<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="google-site-verification" content="iUculvUCp0GbydvuhfZKrif7NOfNJ7o0U5Cc3Iij2Hg" />

    <meta name="title" content="Did your landlord protect your rental deposit correctly?">
    <meta name="description" content="If your landlord failed to register & protect your rental deposit, claim up to 3X the amount of your deposit in compensation using our risk free service.">
    <meta name="keywords" content="Landlord, deposit, protect, compensation, claim, scheme, rental, legal">
    <meta name="robots" content="noodp, INDEX, FOLLOW">
    <link rel="canonical" href="http://www.checkmydeposit.co.uk/">

    <title>Did your landlord protect your rental deposit correctly?</title>


    <noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=gBp2p1IWx810uW" style="display:none" height="1" width="1" alt="" /></noscript>
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script><![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--<![endif]-->
    <link rel="alternate" href="/rss/" title="My RSS feed" type="application/rss+xml" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/app/includes/css/style.min.css" /></head>
<body>

<header>


</header>